<h1>Task List</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.subject %></td>
      <td><%= task.description %></td>
    </tr>
  <% end %>
</table>
